<launch>

<include file="$(find auto_nav_in_hospital)/launch/new_hospital.launch"/>
<include file="$(find auto_nav_in_hospital)/launch/turtlebot3_auto_nav.launch"/>

<node pkg="auto_nav_in_hospital" type="init_pose.py" name="init_pose" output="screen" respawn="true"/>
<!--
 <include file="$(find auto_nav_in_hospital)/launch/delayed_init_pose.launch"/>
-->
</launch>
